@charset "ISO-8859-1";

* {box-sizing: border-box;}

 
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
    position: relative;
    top:70px;
      
         max-height:50px;
     min-width:200px;
     
       
    
}

.topnav a {
 
  display: block;
  color: black;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 15px;
 
   
 
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav input[type=text] {
	border: 1px solid #ccc;
}